In [1]:
import pandas as pd

In [ ]:
#!pip install pandas   #To install pandas on notebook

Creating Series Object

In [ ]:
# List, Dictionary, Tuple, Set

In [7]:
d = [10,20,30,40]
s = pd.Series(data=d)
s

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
type(s)

pandas.core.series.Series

In [8]:
d = [10,20,30,40]
s = pd.Series(data=d, index=['a','b','c','d'])
s

a    10
b    20
c    30
d    40
dtype: int64

In [12]:
s['a']   #To get a value at a perticular index from Series

10

In [14]:
d = {'Kanishaka':10,'Ruchika':20, 'Sahithi':30,'Amith':40}
s = pd.Series(data=d)
s

Kanishaka    10
Ruchika      20
Sahithi      30
Amith        40
dtype: int64

In [16]:
s['Kanishaka']

10

In [17]:
d = (10,20,30,40)
s = pd.Series(data=d)
s

0    10
1    20
2    30
3    40
dtype: int64

Slicing in Pandas Series

In [18]:
s[0:2]

0    10
1    20
dtype: int64

In [19]:
s[1:3]

1    20
2    30
dtype: int64

In [21]:
s[-3:-1]

1    20
2    30
dtype: int64

Attributes of Pandas Series

In [22]:
d = ['Kanishka', 10,20.5, 10+20j, True]
s = pd.Series(data=d)

In [24]:
s.dtype

dtype('O')

In [25]:
d = [10.5,20.5,30.5,40.5]
s = pd.Series(data=d)
s.dtype

dtype('float64')

In [26]:
d = [10,20,30,40]
s = pd.Series(data=d)
s.dtype

dtype('int64')

In [27]:
d = ['a','b','c','d']
s = pd.Series(data=d)
s.dtype

dtype('O')

In [28]:
d = [True, False, True, False,True]
s = pd.Series(data=d)
s.dtype

dtype('bool')

In [29]:
d = [10+20j,20+30j,30+40j,40+50j]
s = pd.Series(data=d)
s.dtype

dtype('complex128')

In [30]:
s.shape

(4,)

In [31]:
s.size

4

In [32]:
s.values

array([10.+20.j, 20.+30.j, 30.+40.j, 40.+50.j])

Functions of Pandas Series Object

In [33]:
s.memory_usage()

132

Scalar Operations on Pandas Series

In [41]:
s = pd.Series([10,20,30,40])
s = s+5
s

0    15
1    25
2    35
3    45
dtype: int64

In [42]:
s = pd.Series([10,20,30,40])
s = s*5
s

0     50
1    100
2    150
3    200
dtype: int64

In [43]:
s = pd.Series([10,20,30,40])
s = s//3
s

0     3
1     6
2    10
3    13
dtype: int64

Object Operations in Pandas Series

In [44]:
s1 = pd.Series([10,20,30,40])
s2 = pd.Series([40,30,20,10])
s3 = s1+s2
s3

0    50
1    50
2    50
3    50
dtype: int64

In [45]:
s3 = s1.add(s2)
s3

0    50
1    50
2    50
3    50
dtype: int64

In [46]:
s3.pop(0)
s3

1    50
2    50
3    50
dtype: int64

Statistical Operation on Pandas Series Object

In [47]:
s = pd.Series([10,20,30,40])

In [48]:
s.mean()

25.0

In [49]:
s.mode()

0    10
1    20
2    30
3    40
dtype: int64

In [50]:
s.nlargest(2)

3    40
2    30
dtype: int64

In [51]:
s.nsmallest(2)

0    10
1    20
dtype: int64

In [52]:
s1 = pd.Series([10,20,30,40,10,20,40,40,30,30,30,20])

In [53]:
s1.unique()

array([10, 20, 30, 40], dtype=int64)

In [54]:
s1.nunique()

4